
/* base styles */
* {
  margin: 0;
  font-family: "Quicksand" ;
  color: #333;
}
.Navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  
}

.Navbar h1 {
  color: #fa0851;
}

.Navbar .links {
  margin-left: auto;
}

.Navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.content {
 max-width: 600px;
 margin: 40px auto;
 padding: 20px;
}

.blog-preview {

  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #333 ;
}



/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
